designs/server/services/auth.json
[
    {
        "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "type": "tab",
        "createdDate": "2024-05-13T10:00:34.161Z",
        "label": "auth",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "auth",
        "relativeParentPath": ""
    },
    {
        "id": "sd_wsqWGWcesvGtnqo1",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Register",
        "path": "/register",
        "uploadpath": "\"file\"",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": true,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": {
            "type": "path",
            "fileOptions": [
                {
                    "name": "name",
                    "maxCount": 1
                }
            ],
            "path": "\"file\""
        },
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "fileoptions": [
                {
                    "key": "name",
                    "value": "1",
                    "rowId": "sd_Ii1sVLKioCYwh4V0",
                    "valid": true
                }
            ],
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 40,
        "wires": [
            [
                "sd_kbZcqnQSg2r55SGk"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "file",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_wsqWGWcesvGtnqo1"
    },
    {
        "id": "sd_kbZcqnQSg2r55SGk",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    query: { 'email': bh.input.body.email },\n    collection: 'users'\n}\n// This is the fix, when adding documents to the DB \n// Add your own _id as a type of 'number'\n// The issue is that the _id that MongoDB provides is an Object SO we couldn't find it\nbh.input.body['_id'] = new Date().getTime();",
        "functionName": "sd_kbZcqnQSg2r55SGk",
        "category": "Function",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_U1NLypdAJKVQskul"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_ygLudNMItp9Xqotm",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "check if exist",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "searchObj",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "result",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "checkIfExist",
        "category": "General",
        "x": 85,
        "y": 200,
        "wires": [
            [
                "sd_o8c0l4D11uvNKdIC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth"
    },
    {
        "id": "sd_o8c0l4D11uvNKdIC",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "bh.input.searchObj.collection",
        "options": "bh.option",
        "resultMapping": "bh.local.result",
        "operation": "find",
        "argumentArray": [
            "query",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.input.searchObj.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_o8c0l4D11uvNKdIC",
        "category": "Storage",
        "x": 225,
        "y": 200,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh.input",
                "value": "searchObj.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh.input",
                "value": "searchObj.query",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_U1NLypdAJKVQskul",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_U1NLypdAJKVQskul",
        "category": "General",
        "x": 365,
        "y": 40,
        "wires": [
            [
                "sd_B82AggI2BXaoFCwk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_8byiLnVAIJwBOtbq",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "if error",
        "script": "bh.status = 404;\nbh.result = {\n    message:\"User already exist\"\n}",
        "functionName": "ifError",
        "category": "Function",
        "x": 685,
        "y": 40,
        "wires": [
            [
                "sd_TVW1YChwcueLIbBM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_6PE1R3GN0PWCtVVj",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "if success",
        "script": "bh.status = 200;\nbh.collection = bh.input.body.collection;\ndelete bh.input.body.collection;\nbh.body = bh.input.body;\nbh.input.body['Status'] = 'Pending'",
        "functionName": "ifSuccess",
        "category": "Function",
        "x": 685,
        "y": 140,
        "wires": [
            [
                "sd_tWvi321XyzGdzHq1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_B82AggI2BXaoFCwk",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_B82AggI2BXaoFCwk",
        "category": "Function",
        "x": 525,
        "y": 40,
        "wires": [
            [
                "sd_8byiLnVAIJwBOtbq"
            ],
            [
                "sd_6PE1R3GN0PWCtVVj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_tWvi321XyzGdzHq1",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "bh.search.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_tWvi321XyzGdzHq1",
        "category": "Storage",
        "x": 845,
        "y": 140,
        "wires": [
            [
                "sd_IqRDFPTyLhPvUIrA"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "search.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_TVW1YChwcueLIbBM",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_TVW1YChwcueLIbBM",
        "category": "HTTP",
        "x": 1185,
        "y": 60,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_IqRDFPTyLhPvUIrA",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Send Email",
        "script": "bh.payload = {\n    to: bh.input.body.email,\n    subject: 'FNB ACCOUNT',\n    from: 'FNB',\n    ptag:`<p>Your Account has been created successfully</p>\n    <img src=\"https://upload.wikimedia.org/wikipedia/en/thumb/8/80/First_National_Bank_Logo.svg/1200px-First_National_Bank_Logo.svg.png\" alt=\"Example Image\" width=\"250\" height=\"100\"  class=\"image\">\n    ` \n}\n\nconsole.log(bh.payload)\n\nbh.status = 200;",
        "functionName": "sendEmail",
        "category": "Function",
        "x": 985,
        "y": 140,
        "wires": [
            [
                "sd_3H8LefEtmRLAuSHY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_3H8LefEtmRLAuSHY",
        "type": "EmailOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "emailoutconfig": "sd_Y7tj22emRRoCDJdJ",
        "from": "bh.payload.from",
        "to": "bh.payload.to",
        "cc": "undefined",
        "bcc": "undefined",
        "subject": "bh.payload.subject",
        "body": "bh.payload.body",
        "html": "bh.payload.ptag",
        "attachment": [],
        "attachmentList": {},
        "switchStates": {
            "attachment": "Map"
        },
        "editableListData": {},
        "routingoptions": "undefined",
        "iCal": "undefined",
        "contentoptions": "undefined",
        "headeroptions": "undefined",
        "securityoptions": "undefined",
        "outputs": 1,
        "resultMapping": "bh.result",
        "functionName": "sd_3H8LefEtmRLAuSHY",
        "category": "Messaging",
        "x": 1105,
        "y": 140,
        "wires": [
            [
                "sd_TVW1YChwcueLIbBM"
            ]
        ],
        "__ssdTypeInputs__": {
            "from": {
                "type": "bh",
                "value": "payload.from",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "to": {
                "type": "bh",
                "value": "payload.to",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "cc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "bcc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "subject": {
                "type": "bh",
                "value": "payload.subject",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "body": {
                "type": "bh",
                "value": "payload.body",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "html": {
                "type": "bh",
                "value": "payload.ptag",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "routingoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "iCal": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "contentoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "headeroptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "securityoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_TcdKzKCe4pwlGvG4",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "update",
        "path": "/update",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "put",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 340,
        "wires": [
            [
                "sd_IL3KQ2cnN00XR8n9"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_TcdKzKCe4pwlGvG4"
    },
    {
        "id": "sd_IL3KQ2cnN00XR8n9",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.collection = bh.input.body.collection\nbh.filter = { 'email': bh.input.body['email'] };\n\ndelete bh.input.body.collection;\n// delete bh.input.body['_id']; // Need to remove _id if you update\n\nbh.body = {$set: bh.input.body};\n\nconsole.log(\"Body data\", bh.body)",
        "functionName": "sd_IL3KQ2cnN00XR8n9",
        "category": "Function",
        "x": 225,
        "y": 340,
        "wires": [
            [
                "sd_svfviycgAG6f0RrV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_svfviycgAG6f0RrV",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "bh.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "findOneAndUpdate",
        "argumentArray": [
            "filter",
            "update",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.body",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_svfviycgAG6f0RrV",
        "category": "Storage",
        "x": 365,
        "y": 340,
        "wires": [
            [
                "sd_dD5nqIqhtJxOErYt"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_dD5nqIqhtJxOErYt",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_dD5nqIqhtJxOErYt",
        "category": "HTTP",
        "x": 520,
        "y": 340,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_2OxHeemcYUIw69YO",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "changePin",
        "path": "/change-pin",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "put",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 560,
        "wires": [
            [
                "sd_rKG5lRCp2ITAXhYw"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_2OxHeemcYUIw69YO"
    },
    {
        "id": "sd_rKG5lRCp2ITAXhYw",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.searchObj = {\n    query: { 'email': bh.input.body.email },\n    collection: 'users'\n};\n\nbh.newPin = bh.input.body.newPin;",
        "functionName": "sd_rKG5lRCp2ITAXhYw",
        "category": "Function",
        "x": 205,
        "y": 560,
        "wires": [
            [
                "sd_XTxgR0qggk8CZ4qE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_XTxgR0qggk8CZ4qE",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "searchObj"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.searchObj"
        ],
        "accept_bh": false,
        "functionName": "sd_XTxgR0qggk8CZ4qE",
        "category": "General",
        "x": 325,
        "y": 560,
        "wires": [
            [
                "sd_6TCqEOW9tD5meQfQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_6TCqEOW9tD5meQfQ",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_6TCqEOW9tD5meQfQ",
        "category": "Function",
        "x": 485,
        "y": 560,
        "wires": [
            [
                "sd_3OToUlvlcTQS42SH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_3OToUlvlcTQS42SH",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const newPin = bh.input.body.newPin;\n\nbh.input.body = {\n    ...bh.result[0],\n    collection: bh.searchObj.collection\n}\n\nbh.input.body.pin = newPin;",
        "functionName": "sd_3OToUlvlcTQS42SH",
        "category": "Function",
        "x": 365,
        "y": 460,
        "wires": [
            [
                "sd_IL3KQ2cnN00XR8n9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_xGYn1ynauI79omOt",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "upload",
        "path": "/upload-file",
        "uploadpath": "\"file\"",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": true,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": {
            "type": "path",
            "fileOptions": [
                {
                    "name": "name",
                    "maxCount": 1
                }
            ],
            "path": "\"file\""
        },
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "fileoptions": [
                {
                    "key": "name",
                    "value": "1",
                    "rowId": "sd_Iqgun0coZp1vQaIJ",
                    "valid": true
                }
            ],
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 700,
        "wires": [
            [
                "sd_EMU76JKUwLutq0jK"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "file",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_xGYn1ynauI79omOt"
    },
    {
        "id": "sd_BkTEbjv46m5Enup2",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "data",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "bin",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "bin": "bh.data"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_BkTEbjv46m5Enup2",
        "category": "HTTP",
        "x": 505,
        "y": 700,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_EMU76JKUwLutq0jK",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.file = bh.input.files.name[0];",
        "functionName": "sd_EMU76JKUwLutq0jK",
        "category": "Function",
        "x": 205,
        "y": 700,
        "wires": [
            [
                "sd_GEVkvcNdT5a5Ov1J"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_GEVkvcNdT5a5Ov1J",
        "type": "FileIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "encoding": "utf8",
        "outputs": 1,
        "format": "buffer",
        "filepath": {
            "type": "bh",
            "value": "file.path"
        },
        "resultMapping": {
            "type": "bh",
            "value": "data"
        },
        "functionName": "sd_GEVkvcNdT5a5Ov1J",
        "category": "File Operation",
        "x": 325,
        "y": 700,
        "wires": [
            [
                "sd_BHduQ5xAyOncXmta"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_BHduQ5xAyOncXmta",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "\"files\"",
        "options": "bh.option",
        "resultMapping": "bh.data",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.file",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_BHduQ5xAyOncXmta",
        "category": "Storage",
        "x": 405,
        "y": 700,
        "wires": [
            [
                "sd_BkTEbjv46m5Enup2"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "str",
                "value": "files",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "data",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "file",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_0dKFiCNy4qmxYTjl",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get file",
        "path": "/get-file",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 820,
        "wires": [
            [
                "sd_8OtQUxpu1OTSklDD"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_0dKFiCNy4qmxYTjl"
    },
    {
        "id": "sd_e1Ymjrhgyrpk8hRF",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_e1Ymjrhgyrpk8hRF",
        "category": "General",
        "x": 325,
        "y": 820,
        "wires": [
            [
                "sd_W9w3XGf65Eze3qAj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_8OtQUxpu1OTSklDD",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    collection:\"files\"\n}",
        "functionName": "sd_8OtQUxpu1OTSklDD",
        "category": "Function",
        "x": 205,
        "y": 820,
        "wires": [
            [
                "sd_e1Ymjrhgyrpk8hRF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_W9w3XGf65Eze3qAj",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_W9w3XGf65Eze3qAj",
        "category": "Function",
        "x": 445,
        "y": 820,
        "wires": [
            [
                "sd_vBAwvG2qumjZdQ5W"
            ],
            [
                "sd_XTWlScMZ55pmxoDw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_vBAwvG2qumjZdQ5W",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200;\nbh.result = bh.result",
        "functionName": "sd_vBAwvG2qumjZdQ5W",
        "category": "Function",
        "x": 620,
        "y": 760,
        "wires": [
            [
                "sd_KTvbicfFqK0dgmQg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_XTWlScMZ55pmxoDw",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 404;\n",
        "functionName": "sd_XTWlScMZ55pmxoDw",
        "category": "Function",
        "x": 625,
        "y": 860,
        "wires": [
            [
                "sd_KTvbicfFqK0dgmQg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_KTvbicfFqK0dgmQg",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_KTvbicfFqK0dgmQg",
        "category": "HTTP",
        "x": 780,
        "y": 800,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_kB85xAHf72lebzvN",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Add-admin",
        "path": "/add-admin",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 980,
        "wires": [
            [
                "sd_xF1aHbFU23VFIy91"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_kB85xAHf72lebzvN"
    },
    {
        "id": "sd_xF1aHbFU23VFIy91",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    query:{'email': bh.input.body.email},\n    collection: \"Admins\"\n}\n\nbh.input.body['_id'] = new Date().getTime();",
        "functionName": "sd_xF1aHbFU23VFIy91",
        "category": "Function",
        "x": 220,
        "y": 980,
        "wires": [
            [
                "sd_thV4LW24bpgzXF0x"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_thV4LW24bpgzXF0x",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_thV4LW24bpgzXF0x",
        "category": "General",
        "x": 325,
        "y": 980,
        "wires": [
            [
                "sd_gvbiF9TsaJic257A"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_gvbiF9TsaJic257A",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_gvbiF9TsaJic257A",
        "category": "Function",
        "x": 445,
        "y": 980,
        "wires": [
            [
                "sd_B7rcag9FpwRL81nB"
            ],
            [
                "sd_ddGSppBxeVEjXnUu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_B7rcag9FpwRL81nB",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "If found",
        "script": "bh.status = 404\nbh.result = {\n    message:\"Admin Already Exist!!!\"\n}",
        "functionName": "ifFound",
        "category": "Function",
        "x": 625,
        "y": 940,
        "wires": [
            [
                "sd_c6LZxfceffqnduax"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_ddGSppBxeVEjXnUu",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "if succeess",
        "script": "const bcrypt = require('bcrypt');\nbh.status = 200;\nbh.collection = bh.input.body.collection;\ndelete bh.input.body.collection;\nconst hashedPassword = await bcrypt.hash(bh.input.body['password'], 10);\nconsole.log(\"bcrypt hashed pass\", hashedPassword);\nbh.input.body['password'] = hashedPassword\nbh.body = bh.input.body;\n\nconsole.log(\"Body\", bh.body)",
        "functionName": "ifSucceess",
        "category": "Function",
        "x": 625,
        "y": 1020,
        "wires": [
            [
                "sd_T3v962reCoKtkUSG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_c6LZxfceffqnduax",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_c6LZxfceffqnduax",
        "category": "HTTP",
        "x": 985,
        "y": 940,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_T3v962reCoKtkUSG",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "bh.search.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_T3v962reCoKtkUSG",
        "category": "Storage",
        "x": 845,
        "y": 1020,
        "wires": [
            [
                "sd_c6LZxfceffqnduax"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "search.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_HUS6bPgtry4Z9I23",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Download file",
        "path": "/download-file",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [
                {
                    "key": "_id",
                    "desc": "To download file",
                    "type": "query",
                    "required": true,
                    "rowId": "sd_pMkLwPYFBYVimqhE",
                    "valid": true
                }
            ],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 85,
        "y": 1140,
        "wires": [
            [
                "sd_XuI5ang6rLg5end7"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_HUS6bPgtry4Z9I23"
    },
    {
        "id": "sd_XuI5ang6rLg5end7",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search ={\n    collection:\"files\",\n}",
        "functionName": "sd_XuI5ang6rLg5end7",
        "category": "Function",
        "x": 225,
        "y": 1140,
        "wires": [
            [
                "sd_oqDjnw4MPRLCxxh8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_oqDjnw4MPRLCxxh8",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_oqDjnw4MPRLCxxh8",
        "category": "General",
        "x": 365,
        "y": 1140,
        "wires": [
            [
                "sd_5nHU1K4fODmmzdmE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_5nHU1K4fODmmzdmE",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_5nHU1K4fODmmzdmE",
        "category": "Function",
        "x": 525,
        "y": 1140,
        "wires": [
            [
                "sd_N43Evb5ywqf9HLqZ"
            ],
            [
                "sd_zB6RCba7lqBpwZY5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_N43Evb5ywqf9HLqZ",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.filter = { '_id': bh.input.body['_id'] };\nbh.status = 200\nbh.result = bh.result",
        "functionName": "sd_N43Evb5ywqf9HLqZ",
        "category": "Function",
        "x": 725,
        "y": 1120,
        "wires": [
            [
                "sd_xAhRLp98ZvfJ2yiw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_zB6RCba7lqBpwZY5",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = {\n    message:\"File not Found\"\n}",
        "functionName": "sd_zB6RCba7lqBpwZY5",
        "category": "Function",
        "x": 725,
        "y": 1200,
        "wires": [
            [
                "sd_Cze7LaUN51Zp9uG5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_Cze7LaUN51Zp9uG5",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_Cze7LaUN51Zp9uG5",
        "category": "HTTP",
        "x": 925,
        "y": 1200,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_xAhRLp98ZvfJ2yiw",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "bh.search.collection",
        "options": "bh",
        "resultMapping": "bh.result",
        "operation": "downloadFile",
        "argumentArray": [
            "filter"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_xAhRLp98ZvfJ2yiw",
        "category": "Storage",
        "x": 845,
        "y": 1120,
        "wires": [
            [
                "sd_Cze7LaUN51Zp9uG5"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "search.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_9Kx1Odisa7wjtoFP",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Verification",
        "path": "/verification",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 1360,
        "wires": [
            [
                "sd_cNdl8vgocns6VGYF"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_9Kx1Odisa7wjtoFP"
    },
    {
        "id": "sd_cNdl8vgocns6VGYF",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.search = {\n    query: { 'idNumber': bh.input.body.idNumber },\n    collection: 'users'\n}",
        "functionName": "sd_cNdl8vgocns6VGYF",
        "category": "Function",
        "x": 225,
        "y": 1360,
        "wires": [
            [
                "sd_bI1YIRnJGh4Fglcx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_bI1YIRnJGh4Fglcx",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
            "type": "tab",
            "createdDate": "2024-05-13T10:00:34.161Z",
            "label": "auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_ygLudNMItp9Xqotm",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_bI1YIRnJGh4Fglcx",
        "category": "General",
        "x": 365,
        "y": 1360,
        "wires": [
            [
                "sd_WmdNO4n9TGzzjxTz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_WmdNO4n9TGzzjxTz",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_WmdNO4n9TGzzjxTz",
        "category": "Function",
        "x": 505,
        "y": 1360,
        "wires": [
            [
                "sd_Xx9OmbQs6pyAGNcH"
            ],
            [
                "sd_bO3r8GbizlfNytl2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_Xx9OmbQs6pyAGNcH",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200;\nbh.resutl = bh.result[0];",
        "functionName": "sd_Xx9OmbQs6pyAGNcH",
        "category": "Function",
        "x": 665,
        "y": 1320,
        "wires": [
            [
                "sd_t1e1KrE9R6WnqI7A"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_bO3r8GbizlfNytl2",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.status = 200;\nbh.result = {\n    message:\"User not found\"\n}",
        "functionName": "sd_bO3r8GbizlfNytl2",
        "category": "Function",
        "x": 665,
        "y": 1420,
        "wires": [
            [
                "sd_t1e1KrE9R6WnqI7A"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_t1e1KrE9R6WnqI7A",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_t1e1KrE9R6WnqI7A",
        "category": "HTTP",
        "x": 845,
        "y": 1360,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_hJdVW1jU3bQAeK05",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Delete",
        "path": "/delete",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "delete",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 1520,
        "wires": [
            [
                "sd_uq4lLunC71aFlNkj"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_hJdVW1jU3bQAeK05"
    },
    {
        "id": "sd_uq4lLunC71aFlNkj",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.collection = bh.input.body.collection\nbh.filter = {'email': bh.input.body['email']};\ndelete bh.input.body.collection;\nconsole.log(\"Deleted collection\",delete bh.input.body.collection)",
        "functionName": "sd_uq4lLunC71aFlNkj",
        "category": "Function",
        "x": 205,
        "y": 1520,
        "wires": [
            [
                "sd_1ts6hALc1iwxyBRz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_1ts6hALc1iwxyBRz",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "bh.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "deleteOne",
        "argumentArray": [
            "filter",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_1ts6hALc1iwxyBRz",
        "category": "Storage",
        "x": 360,
        "y": 1520,
        "wires": [
            [
                "sd_EMPlfSvHonePZJWc"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_EMPlfSvHonePZJWc",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_EMPlfSvHonePZJWc",
        "category": "HTTP",
        "x": 520,
        "y": 1520,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_6CyS8TPipEXGaJLU",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "start",
        "name": "Application Status",
        "path": "/status",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "put",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 1700,
        "wires": [
            [
                "sd_lZSWfxDNEl6yCKxM"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "auth",
        "functionName": "sd_6CyS8TPipEXGaJLU"
    },
    {
        "id": "sd_lZSWfxDNEl6yCKxM",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.collection = bh.input.body.collection\nbh.filter = { 'email': bh.input.body['email'] };\n\ndelete bh.input.body.collection;\n\nbh.body = {$set: bh.input.body};",
        "functionName": "sd_lZSWfxDNEl6yCKxM",
        "category": "Function",
        "x": 200,
        "y": 1700,
        "wires": [
            [
                "sd_svRXiAApQWbrqqla"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_5MqBi2KzB9oQr6Rs",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"Found user\", bh.result.value.email)",
        "functionName": "sd_5MqBi2KzB9oQr6Rs",
        "category": "Function",
        "x": 705,
        "y": 1700,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_svRXiAApQWbrqqla",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_ajFrSs3mQRYSN97Z",
        "collection": "bh.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "findOneAndUpdate",
        "argumentArray": [
            "filter",
            "update",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.query",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.body",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_svRXiAApQWbrqqla",
        "category": "Storage",
        "x": 345,
        "y": 1700,
        "wires": [
            [
                "sd_wWhmgroqpanAcOha"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "query",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_wWhmgroqpanAcOha",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.payload = {\n    to: bh.result.value.email,\n    subject: 'FNB ACCOUNT',\n    from: 'FNB',\n    ptag:`<p>Your Application Has been Approved</p>\n    <img src=\"https://upload.wikimedia.org/wikipedia/en/thumb/8/80/First_National_Bank_Logo.svg/1200px-First_National_Bank_Logo.svg.png\" alt=\"Example Image\" width=\"250\" height=\"100\"  class=\"image\">\n    ` \n}",
        "functionName": "sd_wWhmgroqpanAcOha",
        "category": "Function",
        "x": 465,
        "y": 1700,
        "wires": [
            [
                "sd_bJy17l51susoCvR6"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    },
    {
        "id": "sd_bJy17l51susoCvR6",
        "type": "EmailOut",
        "z": "SSD_SERVICE_ID_sd_rnBmVBMNMAATcuPX",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "emailoutconfig": "sd_Y7tj22emRRoCDJdJ",
        "from": "bh.payload.from",
        "to": "bh.payload.to",
        "cc": "undefined",
        "bcc": "undefined",
        "subject": "bh.payload.subject",
        "body": "undefined",
        "html": "bh.payload.ptag",
        "attachmentList": {},
        "switchStates": {
            "attachment": "Map"
        },
        "editableListData": {},
        "routingoptions": "undefined",
        "iCal": "undefined",
        "contentoptions": "undefined",
        "headeroptions": "undefined",
        "securityoptions": "undefined",
        "outputs": 1,
        "resultMapping": "bh.result",
        "functionName": "sd_bJy17l51susoCvR6",
        "category": "Messaging",
        "x": 585,
        "y": 1700,
        "wires": [
            [
                "sd_5MqBi2KzB9oQr6Rs"
            ]
        ],
        "__ssdTypeInputs__": {
            "from": {
                "type": "bh",
                "value": "payload.from",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "to": {
                "type": "bh",
                "value": "payload.to",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "cc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "bcc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "subject": {
                "type": "bh",
                "value": "payload.subject",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "body": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "html": {
                "type": "bh",
                "value": "payload.ptag",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "routingoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "iCal": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "contentoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "headeroptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "securityoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "auth",
        "generated": true
    }
]
